{% load static %}
{% include "layouts/header.html" %}


			<!-- PAGE HERO
			============================================= -->	
			<section id="terms-page" class="page-hero-section bg-lightgrey tra-lines division">
				<div class="container">	
					

					<!-- PAGE HERO TEXT -->
					<div class="row">	
						<div class="col-md-10 col-lg-8 offset-md-1 offset-lg-2">
							<div class="hero-txt text-center">

								<!-- Title -->
								<h3 class="h3-md">Career Page</h3>

								<!-- Text -->
								<p class="grey-color">Last Modified: Nov 13, 2024</p>

							</div>
						</div>	
					</div>	<!-- END PAGE HERO TEXT -->


				</div>	   <!-- End container --> 
			</section>	<!-- END PAGE HERO -->	


			<!-- TERMS & PRIVACY
			============================================= -->
			<section id="terms-1" class="wide-60 terms-section division">
				<div class="container">
					<div class="row">


						<!-- TERMS CONTENT -->
						<div class="col-lg-10 offset-lg-1">

							
							<!-- TERMS BOX -->
							<div class="terms-box">

								<!-- Text -->
								<p>We are not a technology company powered by people, we are a people company powering technology. Exceptional people like you. People with passion, dreaming of a better next. If you look around, you’ll see there's no greater opportunity than to change the world through technology. And who better to do it than you?
								</p>

								<!-- Text -->
								
							</div>	<!-- END TERMS BOX -->


							<!-- TERMS BOX -->
							<div class="terms-box">

								<!-- Title -->
								<h5 class="h5-sm">Available Positions</h5>
								
								<!-- Text -->
								<p>No job available as of now. Please visit page later sometimes.
								</p>

							

							</div>	<!-- END TERMS BOX -->


				
					</div>     <!-- End row -->		
				</div>	    <!-- End container -->
			</section>	 <!-- END TERMS & PRIVACY -->

			
{% include "layouts/footer.html" %}