{% load static %}
{% include "layouts/header.html" %}

			<!-- HERO-10
			============================================= -->	
			<section id="hero-10" class="bg-scroll hero-section division">
				<div class="container">							
					<div class="row d-flex align-items-center m-row">


						<!-- HERO IMAGE -->
						<div class="col-lg-6 m-bottom">	
							<div class="hero-10-img wow fadeInRight" data-wow-duration="2.5s" data-wow-delay="0.4s">			
								<img class="img-fluid" src="{% static 'front/images/TaskTrackerProLogo.png' %}" alt="TaskTrackerPro">
							</div>
						</div>


						<!-- HERO TEXT -->
						<div class="col-lg-6 m-top">
							<div class="hero-10-txt white-color wow fadeInLeft" data-wow-duration="2.5s" data-wow-delay="0.4s">

								<!-- HERO APP LOGO -->
								<div class="hero-logo">
									<div class="d-flex align-items-center">										
										<img class="img-fluid" src="{% static 'front/images/TaskTrackerProLogo.png' %}" width="115" height="115" alt="TaskTrackerProLogo">
										<div class="hero-logo-txt white-color">
											<h2 class="h2-sm">TaskTrackerPro</h2>
											<span class="app-version">Latest release: 2.0.13</span>
										</div>					
									</div>
								</div>

								<!-- Title -->
								<h4 class="h4-sm">Make your work schedule Easy to Plan!</h4>

								<!-- STORE BADGES -->												
								<div class="stores-badge">

									<!-- AppStore -->
									<a href="https://www.apple.com/app-store/" class="store">
										<img class="appstore-original" src="{% static 'front/images/appstore.png' %}" alt="appstore-badge" />
									</a>
													
									<!-- Google Play -->
									<a href="https://play.google.com/store/apps" class="store">
										<img class="googleplay-original" src="{% static 'front/images/googleplay.png' %}" alt="googleplay-badge" />
									</a>							
							
								</div>	<!-- END STORE BADGES -->	

								<!-- Text -->
								<p class="p-sm hero-info mt-15">Now Available on Android Devices From 5.5</p>

							</div>  
						</div>	 <!-- END HERO TEXT -->


					</div>	  <!-- End row -->
				</div>	   <!--End container -->
			</section>	<!-- END HERO-10 -->


			<!-- CONTENT-3
			============================================= -->
			<section id="content-3" class="content-3 pt-80 pb-60 content-section division">
				<div class="container">


					<!-- TOP CONTENT -->
					<div id="c3-top" class="cbox-3 pb-50">
						<div class="row d-flex align-items-center m-row">


							<!-- TEXT BLOCK -->	
							<div class="col-md-7 col-lg-6 m-bottom">
								<div class="txt-block left-column pc-35 mb-40 wow fadeInRight" data-wow-delay="0.4s">

									<!-- Title -->	
									<h3 class="h3-sm">Effortless Connection and Collaboration for Modern Businesses</h3>

									<!-- Text List -->	
									<ul class="txt-list grey-color">

										<li class="list-item">
											<i class="fas fa-angle-right"></i>
											<p>Seamless Communication: Our app enables effortless, real-time connection with teams and clients, 
												just like staying connected with friends.
											</p>
										</li>

										<li class="list-item">
											<i class="fas fa-angle-right"></i>
											<p>User-Friendly Interface: Enjoy the same simplicity in business 
												communication that makes connecting with friends easy and intuitive.
											</p>
										</li>

										<li class="list-item">
											<i class="fas fa-angle-right"></i>
											<p>Collaboration Made Simple: We make teamwork feel as connected as social interactions, 
												enhancing collaboration.
											</p>
										</li>
										<li class="list-item">
											<i class="fas fa-angle-right"></i>
											<p>Centralized Communication Hub: Like a social platform, our app consolidates requests, 
												billing, scheduling, and profiles for organized, streamlined connectivity.
											</p>
										</li>
										<li class="list-item">
											<i class="fas fa-angle-right"></i>
											<p>Accessible Technology: Stay connected with your team and clients as easily as with friends,
												 thanks to our user-friendly design.
											</p>
										</li>

									</ul>	<!-- End Text List -->	

								</div>
							</div>	<!-- END TEXT BLOCK -->	


							<!-- IMAGE BLOCK -->
							<div class="col-md-5 col-lg-6 m-top">
								<div class="img-block right-column pc-25 mb-40 wow fadeInLeft" data-wow-delay="0.4s">
									<img class="img-fluid" src="{% static 'front/images/image-17.png' %}" alt="content-image">
								</div>
							</div>


						</div>	  <!-- End row -->	
					</div>	<!-- END TOP CONTENT -->


					<!-- BOTTOM CONTENT -->
					<div id="c3-bottom" class="cbox-3">
						<div class="row d-flex align-items-center">
							

						</div>	  <!-- End row -->	
					</div>	<!-- END BOTTOM CONTENT -->


				</div>     <!-- End container -->
			</section>	<!-- END CONTENT-3 -->	


			<!-- SERVICES-5
			============================================= -->
			<section id="services-5" class="services-5 bg-lightgrey wide-70 services-section division">
				<div class="container">


					<!-- SECTION TITLE -->	
					<div class="row">	
						<div class="col-lg-10 offset-lg-1">
							<div class="section-title mb-60 text-center">		

								<!-- Title 	-->	
								<h3 class="h3-md">Core Features That Matters</h3>	

								<!-- Text -->	
								<p class="p-lg">Quotation, Installation, Service and Other
								</p>
									
							</div>	
						</div>
					</div>


					<!-- SERVICES-5 WRAPPER -->
					<div class="sbox-5-wrapper pc-05">
						<div class="row grey-color">


							<!-- SERVICE BOX #1 -->
							<div class="col-md-6">
								<div class="sbox-5 d-flex align-items-center wow fadeInUp" data-wow-delay="0.4s">

									<!-- Icon -->
									<div class="sbox-5-ico">
										<img class="img-60" src="{% static 'front/images/icons/folder-3.png' %}" alt="service-icon" />
									</div>

									<!-- Text -->
									<div class="sbox-5-txt">
										<h6 class="h6-lg">Quotation: Create tailored quotes with product details, labor tracking, and seamless invoicing.</h6>
									</div>

								</div>
							</div>	


							<!-- SERVICE BOX #2 -->
							<div class="col-md-6">
								<div class="sbox-5 d-flex align-items-center wow fadeInUp" data-wow-delay="0.4s">

									<!-- Icon -->
									<div class="sbox-5-ico">
										<img class="img-60" src="{% static 'front/images/icons/wireframe.png' %}" alt="service-icon" />
									</div>

									<!-- Text -->
									<div class="sbox-5-txt">
										<h6 class="h6-lg">Installtion: Efficiently manage clients, schedules, quotes, media, and invoices.</h6>
									</div>

								</div>
							</div>


							<!-- SERVICE BOX #3 -->
							<div class="col-md-6">
								<div class="sbox-5 d-flex align-items-center wow fadeInUp" data-wow-delay="0.6s">

									<!-- Icon -->
									<div class="sbox-5-ico">
										<img class="img-60" src="{% static 'front/images/icons/typography.png' %}" alt="service-icon" />
									</div>

									<!-- Text -->
									<div class="sbox-5-txt">
										<h6 class="h6-lg">Service: Manage client info, schedules, quotes, media, and billing seamlessly.</h6>
									</div>

								</div>
							</div>


							<!-- SERVICE BOX #4 -->
							<div class="col-md-6">
								<div class="sbox-5 d-flex align-items-center wow fadeInUp" data-wow-delay="0.6s">

									<!-- Icon -->
									<div class="sbox-5-ico">
										<img class="img-60" src="{% static 'front/images/icons/creativity.png' %}" alt="service-icon" />
									</div>
									<!-- Text -->
									<div class="sbox-5-txt">
										<h6 class="h6-lg">Other: Add products, track labor, manage services, and handle billing efficiently.</h6>
									</div>

								</div>
							</div>


						</div>  <!-- End row -->	
					</div>	<!-- END SERVICES-5 WRAPPER -->


				</div>	   <!-- End container -->		
			</section>	<!-- END SERVICES-5 -->


			<!-- STATISTIC-3
			============================================= -->
			<section id="statistic-3" class="statistic-3 bg-01 wide-60 statistic-section division">
				<div class="container white-color">


					<!-- SECTION TITLE -->	
					<div class="row">	
						<div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
							<div class="section-title mb-60">		

								<!-- Title 	-->	
								<h3 class="h3-md">A powerful admin panel to streamline your services.</h3>

								<!-- Text -->	
								<p class="p-lg">Our intuitive admin panel provides all the tools you need to efficiently manage your services, appointments, and customer interactions.
									 Easily track progress, generate graphs, and ensure smooth business operations from one centralized dashboard. 
								</p>
									
							</div>	
						</div>
					</div>


					<div class="row">
						<div class="col-lg-10 offset-lg-1">
							<div class="row text-center">


								<!-- STATISTIC BLOCK #1 -->
								<div class="col-sm-6 col-md-3">								
									<div class="statistic-block">	

										<!-- Icon  -->
										<div class="statistic-ico ico-50"><span class="flaticon-browser-8"></span></div> 					
										<!-- Text -->	
										<h5 class="statistic-number">5,<span class="count-element">682</span></h5>
										<p>Total Downloads</p>	

									</div>								
								</div>


								<!-- STATISTIC BLOCK #2 -->
								<div class="col-sm-6 col-md-3">										
									<div class="statistic-block">	

										<!-- Icon  -->
										<div class="statistic-ico ico-50"><span class="flaticon-chat-3"></span></div> 				

										<!-- Text -->									
										<h5 class="statistic-number">4,<span class="count-element">889</span></h5>	
										<p>Happy Customers</p>	

									</div>							
								</div>


								<!-- STATISTIC BLOCK #3 -->
								<div class="col-sm-6 col-md-3">							
									<div class="statistic-block">

										<!-- Icon  -->
										<div class="statistic-ico ico-50"><span class="flaticon-users-1"></span></div> 				

										<!-- Text -->									
										<h5 class="statistic-number">6,<span class="count-element">179</span></h5>
										<p>Active Accounts</p>	

									</div>						
								</div>


								<!-- STATISTIC BLOCK #4 -->
								<div class="col-sm-6 col-md-3">							
									<div class="statistic-block">

										<!-- Icon  -->
										<div class="statistic-ico ico-50"><span class="flaticon-help"></span></div> 				

										<!-- Text -->									
										<h5 class="statistic-number">1,<span class="count-element">473</span></h5>
										<p>Tickets Closed</p>	

									</div>						
								</div>
						

							</div>
						</div>
					</div>	   <!-- End row -->
				</div>	    <!-- End container -->		
			</section>	 <!-- END STATISTIC-3 -->


			<!-- TESTIMONIALS-3
			============================================= -->
			<section id="reviews-3" class="reviews-3 bg-lightgrey wide-100 reviews-section division">
				<div class="container">


					<!-- SECTION TITLE -->	
					<div class="row">	
						<div class="col-lg-10 offset-lg-1">
							<div class="section-title mb-50">		

								<!-- Title 	-->	
								<h3 class="h3-md">What Our Customers Say</h3>	

								
							</div>	
						</div>
					</div>


					<!-- TESTIMONIALS CONTENT -->
					<div class="row">
						<div class="col-md-12">					
							<div class="owl-carousel owl-theme reviews-wrapper">

						
								<!-- TESTIMONIAL #1 -->
								<div class="review-3">

									<!-- App Rating -->
									<div class="app-rating yellow-color">
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
									</div>

									<!-- Title -->
									<h6 class="h6-lg">Great Flexibility!</h6>

									<!-- Testimonial Text -->
									<div class="review-3-txt">

										<!-- Text -->
										<p>TaskTracker Pro offers exceptional flexibility in managing different types of appointments, whether it's a quotation, installation, service, or other tasks. It adapts to our diverse needs seamlessly.
				   
										</p>

										<!-- Testimonial Author -->
										<h6 class="h6-xs">Scott Boxer</h6>
										

									</div>	

								</div>	<!-- END TESTIMONIAL #1 -->
						
						
								<!-- TESTIMONIAL #2 -->
								<div class="review-3">

									<!-- App Rating -->
									<div class="app-rating yellow-color">
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star-half-alt"></i>
									</div>

									<!-- Title -->
									<h6 class="h6-lg">User-Friendly</h6>	

									<!-- Testimonial Text -->
									<div class="review-3-txt">

										<!-- Text -->
										<p>The design of TaskTracker Pro is incredibly sleek and user-friendly, 
											making it easy to navigate through different features without feeling overwhelmed.

										</p>

										<!-- Testimonial Author -->
										<h6 class="h6-xs">Wendy T.</h6>
										

									</div>	

								</div>	<!-- END TESTIMONIAL #2 -->
						
						
								<!-- TESTIMONIAL #3 -->
								<div class="review-3">

									<!-- App Rating -->
									<div class="app-rating yellow-color">
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
									</div>

									<!-- Title -->
									<h6 class="h6-lg">Schedule Overview</h6>

									<!-- Testimonial Text -->
									<div class="review-3-txt">

										<!-- Text -->
										<p>The Schedule Overview is a huge time-saver! Having the next 
											7 days laid out and easily navigable appointments makes planning so much easier.
										</p>

										<!-- Testimonial Author -->
										<h6 class="h6-xs">pebz13</h6>

									</div>	

								</div>	<!-- END TESTIMONIAL #3 -->


								<!-- TESTIMONIAL #4 -->
								<div class="review-3">

									<!-- App Rating -->
									<div class="app-rating yellow-color">
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
									</div>

									<!-- Title -->
									<h6 class="h6-lg">Amazing Experience!</h6>

									<!-- Testimonial Text -->
									<div class="review-3-txt">

										<!-- Text -->
										<p>My experience with TaskTracker Pro has been exceptional.
											 It’s helped our team streamline operations and improve productivity in ways we never imagined.
										</p>

										<!-- Testimonial Author -->
										<h6 class="h6-xs">Johnson Pereira</h6>
										

									</div>	

								</div>	<!-- END TESTIMONIAL #4 -->
								
								
								
								
								
								<!-- TESTIMONIAL #6 -->
								<div class="review-3">

									<!-- App Rating -->
									<div class="app-rating yellow-color">
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
									</div>

									<!-- Title -->
									<h6 class="h6-lg">Archive Access</h6>

									<!-- Testimonial Text -->
									<div class="review-3-txt">

										<!-- Text -->
										<p>I really appreciate the History section of TaskTracker Pro. 
											It allows me to easily access and review past quotes and invoices, providing an organized and convenient archive right at my fingertips
										</p>

										<!-- Testimonial Author -->
										<h6 class="h6-xs">Leslie D.</h6>	

									</div>	

								</div>	<!-- END TESTIMONIAL #6 -->
								
							
							
							</div>
						</div>									
					</div>	<!-- END TESTIMONIALS CONTENT --> 


				</div>     <!-- End container -->
			</section>	<!-- END TESTIMONIALS-3 -->


			<!-- CONTENT-2
			============================================= -->
			<section id="content-2" class="content-2 wide-60 content-section division">
				<div class="container">
					<div class="row d-flex align-items-center">


						<!-- IMAGE BLOCK -->
						<div class="col-md-5 col-lg-6">
							<div class="img-block left-column pc-25 mb-40 wow fadeInRight" data-wow-delay="0.4s">
								<img class="img-fluid" src="{% static 'front/images/image-21.png' %}" alt="content-image">
							</div>
						</div>


						<!-- TEXT BLOCK -->	
						<div class="col-md-7 col-lg-6">
							<div class="txt-block right-column pc-35 mb-40 wow fadeInLeft" data-wow-delay="0.4s">

								<!-- Small Title -->
								<h5 class="h5-xs sm-title">1. User Login</h5>

								<!-- Text -->
								<p class="grey-color">Log in with valid credentials.
								</p>

								<!-- Small Title -->
								<h5 class="h5-xs sm-title mt-30">2. Select Service</h5>

								<!-- Text -->
								<p class="grey-color">Choose from Quotation, Installation, Service, or Other. 
								</p>

								<!-- Small Title -->	
								<h5 class="h5-xs sm-title mt-30">3. Client Information</h5>

								<!-- Text -->
								<p class="grey-color">Enter or select a client by phone number.
								</p>
								<!-- Small Title -->	
								<h5 class="h5-xs sm-title mt-30">4. Profile and Site Details</h5>

								<!-- Text -->
								<p class="grey-color">Fill in profile and site details (personal or office address).
								</p>

								<!-- Small Title -->	
								<h5 class="h5-xs sm-title mt-30">5. Scheduling Details</h5>

								<!-- Text -->
								<p class="grey-color">Enter scheduling information for installation.
								</p>	

							</div>
						</div>	<!-- END TEXT BLOCK -->	


					</div>	  <!-- End row -->	
				</div>     <!-- End container -->
			</section>	<!-- END CONTENT-2 -->	


			<!-- CALL TO ACTION-6
			============================================= -->
			<section id="cta-6" class="cta-6 bg-01 cta-section division">
				<div class="container white-color">
					<div class="row">


						<!-- CALL TO ACTION BOX -->
						<div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
							<div class="cta-6-box">

								<!-- Icon -->
								
								<!-- Text -->
								<div class="cta-6-txt">

									<!-- Title -->
									<h3 class="h3-xs txt-600">Ready to get Started?</h3>
											
									

									<!-- Buttons Group -->
									<div class="btns-group mt-20">

										<!-- Button -->
										<a href="https://www.apple.com/app-store/" class="btn btn-md btn-dimgreen tra-white-hover mr-15">Download for macOS</a>  

										<!-- Button -->
										<a href="https://play.google.com/store/apps" class="btn btn-md btn-primary tra-white-hover">Download for iOS</a>

										<!-- Text -->
										<p class="p-sm">Free on the Mac App Store. Pay once on iOS.</p>

									</div>

								</div>

							</div>
						</div>	<!-- END CALL TO ACTION BOX -->


					</div>	 <!-- End row -->
				</div>	   <!-- End container -->	
			</section>	<!-- END CALL TO ACTION-6 -->
			
{% include "layouts/footer.html" %}